@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

.login-form {
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    /* padding: 5px 10px; */
    padding: 30px 5px;
   
}

.form-footer {
    font-size: 16px;
    margin-top: 2rem;
}

.button {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #cc3974;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.button a {
    color: #fff;
}

.form-heading {
    margin: 0 0 20px;
    line-height: 1;
    color: #44c4e7;
    font-size: 39px;
    font-weight: 400;
}

.login-img {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-img img {
    max-width: 580px;
    text-align: left;
}

.button-primary {
    background-color: #AB1D79;
    color: #fff;
}

/* .input-row {
     display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

.input_group{
    padding-left: 10px;
}  */

input {
    width: 100%;
    border: 1px solid #44c4e7;
    /* border-bottom: 1px solid #ccc; */
    background-color: #e4dfdf;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
}

input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

input:focus {
    color: #333;
    border: 1px solid #44c4e7;
}

.btn {
    background: #44c4e7;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: large;
}